<div class="card p-3 my-3">

  <%= image_tag @flat.picture_url %>

  <h2><%= @flat.name %></h2>

  <p><%= @flat.address %></p>
  <p><%= @flat.description %></p>

  <div class="d-flex">
    <p><%= @flat.price_per_night %></p>
    <p><%= @flat.number_of_guests %></p>

  </div>


  <div class="d-flex">
  <%= link_to "More info", flat_path(@flat)  %>
  <%= link_to "Edit", edit_flat_path(@flat)  %>
<%= link_to "Remove", flat_path(@flat), method: :delete  %>

  </div>


</div>
